
.barbarian {
    height: 400px;
    width: 400px;
    background-image: url(../sprites/sprite.png);
    position: absolute;
    bottom: 12px;
}

.monster {
    height: 400px;
    width: 400px;
    background-image: url(../sprites/monsters.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.shark1 {
    height: 75px;
    width: 200px;
    background-image: url(../sprites/shark.png);
    position: absolute;
    bottom: 400px;
    display: none;
}

.shark2 {
    border: 0px solid red;
    height: 75px;
    width: 200px;
    background-image: url(../sprites/shark.png);
    position: absolute;
    bottom: 0px;
    display: none;
}

.shark3 {
    border: 0px solid red;
    height: 75px;
    width: 200px;
    background-image: url(../sprites/shark.png);
    position: absolute;
    bottom: 0px;
    display: none;
}

.red_monster {
    border: 0px solid red;
    height: 400px;
    width: 400px;
    background-image: url(../sprites/red_monster.png);
    position: absolute;
    bottom: 12px;
    display: none;
}


.dog {
    border: 0px solid red;
    height: 400px;
    width: 400px;
    background-image: url(../sprites/dog.png);
    background-position: -1200px -400px;
    position: absolute;
    bottom: 160px;
    display: none;
}

.rock {
    height: 400px;
    width: 400px;
    background-image: url(../sprites/rock.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.guard1 {
    height: 400px;
    width: 400px;
    background-image: url(../sprites/guard.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.guard2 {
    height: 400px;
    width: 400px;
    background-image: url(../sprites/guard.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.beast {
    height: 400px;
    width: 400px;
    background-image: url(../sprites/beast.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.axe1 {
    height: 460px;
    width: 460px;
    background-image: url(../sprites/axe.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.axe2 {
    height: 460px;
    width: 460px;
    background-image: url(../sprites/axe.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.axe3 {
    height: 460px;
    width: 460px;
    background-image: url(../sprites/axe.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.dragon {
    height: 200px;
    width: 600px;
    background-image: url(../sprites/dragon.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.fireball {
    height: 100px;
    width: 100px;
    background-image: url(../sprites/fireball.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.blue_fireball {
    height: 100px;
    width: 100px;
    background-image: url(../sprites/blue_fireball.png);
    position: absolute;
    bottom: 12px;
    display: none;
}

.death {
    border: 0px solid white;
    height: 800px;
    width: 400px;
    background-image: url(../sprites/death.png);
    position: absolute;
    bottom: 0;
    display: none;
}

.death_dragon {
    border: 0px solid white;
    height: 800px;
    width: 400px;
    background-image: url(../sprites/death.png);
    position: absolute;
    bottom: 0;
    display: none;
}

.death_monster {
    border: 0px solid white;
    height: 800px;
    width: 400px;
    background-image: url(../sprites/death.png);
    position: absolute;
    bottom: 0;
    display: none;
}

.death_guard1 {
    border: 0px solid white;
    height: 800px;
    width: 400px;
    background-image: url(../sprites/death.png);
    position: absolute;
    bottom: 0;
    display: none;
}

.death_guard2 {
    border: 0px solid white;
    height: 800px;
    width: 400px;
    background-image: url(../sprites/death.png);
    position: absolute;
    bottom: 0;
    display: none;
}

.death_beast {
    border: 0px solid white;
    height: 800px;
    width: 400px;
    background-image: url(../sprites/death.png);
    position: absolute;
    bottom: 0;
    display: none;
}

.death_red_monster {
    border: 0px solid white;
    height: 800px;
    width: 400px;
    background-image: url(../sprites/death.png);
    position: absolute;
    bottom: 0;
    display: none;
}

.death_dog {
    border: 0px solid white;
    height: 800px;
    width: 400px;
    background-image: url(../sprites/death.png);
    position: absolute;
    bottom: 0;
    display: none;
}

.bridge {
    height: 48px;
    width: 149px;
    background-image: url(../sprites/bridge.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 116px;
    display: none;
    left: 980px;
}

.backdrop {
    background-image: url(/images/background-1.png);
    width: 1400px;
    height: 800px;
    position: absolute;
    bottom: 0;
}

.pause_message {
     display: none;
     position: absolute;
     color: red;
     left: 670px;
     height: 0;
     bottom: 400px;
}

.hints_message_on {
    display: none;
    position: absolute;
    color: green;
    left: 670px;
    height: 0;
    bottom: 400px;
}

.hints_message_off {
    display: none;
    position: absolute;
    color: green;
    left: 670px;
    height: 0;
    bottom: 400px;
}

.sound_message_on {
    display: none;
    position: absolute;
    color: green;
    left: 670px;
    height: 0;
    bottom: 400px;
}

.sound_message_off {
    display: none;
    position: absolute;
    color: green;
    left: 670px;
    height: 0;
    bottom: 400px;
}

.game_over {
    display: none;
    position: absolute;
    color: red;
    left: 625px;
    height: 0;
    bottom: 600px;
}

.game_won {
    display: none;
    position: absolute;
    color: red;
    left: 625px;
    height: 0;
    bottom: 600px;
}

.start_message {
    display: block;
    position: absolute;
    color: darkred;
    left: 514px;
    height: 0;
    bottom: 600px;
}

.controls_message {
    display: none;
    position: absolute;
    color: darkred;
    left: 600px;
    height: 0;
    bottom: 670px;
}

.life1 {
    height: 43px;
    width: 35px;
    position: absolute;
    bottom: 690px;
    left: 5px;
}

.life2 {
    height: 43px;
    width: 35px;
    position: absolute;
    bottom: 690px;
    left: 42px;
}

body {
    margin: 0px;
}
