.barbarian {
    border: 1px solid red;
    height: 400px;
    width: 400px;
    background-image: url(./sprites/sprite.png);
    position: absolute;
    bottom: 12px;
    left: 0;
}
.monster {
    border: 1px solid red;
    height: 400px;
    width: 400px;
    background-image: url(./sprites/monsters.png);
    position: absolute;
    right: 0;
    bottom: 12px;
}
.death {
    height: 800px;
    width: 800px;
    background-image: url(./sprites/death.png);
    position: absolute;
    bottom: 0;
    display: none;
}

html {
  background: url(http://localhost/background-1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
